@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

body {
  height: 100%;
  width: 100%;
  font-family: "Syne", sans-serif !important;
}

.todolist-wrap{
  height: 60vh;
  width: 50%;
  margin: auto;
  overflow-y: auto;
  background-color: aliceblue;
  padding: 1rem;
}

.todolist-wrap::-webkit-scrollbar{
  display: none;
}